version: "3.8"

services:
  backend:
    build:
      context: ./backend
    container_name: backend_container
    expose:
      - "3000"
    restart: always

  nginx:
    build:
      context: .
      dockerfile: nginx/Dockerfile
    container_name: nginx_container
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: always
